@import "src/styles/globals.scss";
h1 {
  font-family: "Titillium Web";
  color: white;
  font-weight: 500;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $f1-red;
}

.user-btn {
  margin-right: 1rem;
}
