@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Titillium+Web:wght@200;300;400;600;700&display=swap");

$f1-red: #e00700;
$black: #000;
$gray: #bababa;
$white: #fffefe;

$titillium: "Titillium Web", "Roboto", "sans-serif";
$orbitron: "Orbitron", "Roboto", "sans-serif";
