$f1-red: #e00700;
$black: #000;
$gray: #bababa;
$white: #fffefe;

@mixin border-right {
  border: 1px solid black;
  border-width: 2px 2px 0px 0px;
  border-top-right-radius: 8px;
}

@mixin border-right-bottom {
  border: 1px solid black;
  border-width: 0px 2px 2px 0px;
  border-bottom-right-radius: 8px;
}

@mixin border-right-menu {
  border: 1px solid $white;
  border-width: 0px 2px 2px 0px;
  border-bottom-right-radius: 8px;
}

$titillium: "Titillium Web", sans-serif;
$orbitron: "Orbitron", sans-serif;
