<section class="container">
  <h2>Drivers</h2>

  <ul>
    <li *ngFor="let driver of srv.drivers$ | async">
      <a [routerLink]="driver.id">
        <div class="driver-container">
          <div class="driver-info">
            <h3 class="driver-name">
              {{ driver.name }}
            </h3>
            <p>
              {{ driver.team }}
            </p>
          </div>
          <div class="driver-info">
            <h3>Number:</h3>
            <p class="driver-number">
              {{ driver.racingNumber }}
            </p>
          </div>
          <div class="driver-image">
            <img [src]="driver.image" alt="" />
          </div>
        </div>
      </a>
    </li>
  </ul>

  <button *ngIf="info.role === 'Team Manager'" routerLink="add">
    Add Driver
  </button>
</section>
