@import "src/styles/globals.scss";
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $titillium;

  h2 {
    font-family: $titillium;
    text-decoration: underline $f1-red;
    text-underline-offset: 0.4rem;
    font-size: 2rem;
  }

  ul {
    margin-top: 2.5rem;

    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 4rem;

    a {
      text-decoration: none;
      color: black;

      .circuit-container {
        @include border-right;
      }
    }
  }
}

.race-location {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-weight: 800;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $gray;
  font-size: 1.5rem;

  .city {
    color: $gray;
    font-weight: 500;
  }
}

.race-name {
  font-weight: 800;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.race-image {
  display: flex;
  justify-content: center;
}
