@import "src/styles/globals.scss";

.btns-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  a {
    width: 75%;
    color: black;
    text-decoration: none;
  }
  .btns {
    display: flex;
    justify-content: center;
    @include border-right;

    p {
      font-family: $titillium;
      font-weight: 600;
      font-size: 2rem;
    }
  }
}
