@import "src/styles/globals.scss";

footer {
  height: 3rem;
  width: 100%;
  background-color: $f1-red;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: $orbitron;
  font-weight: 500;

  div {
    a {
      color: white;
      cursor: pointer;
      text-decoration: none;
    }

    a:hover {
      color: $gray;
      text-decoration: none;
    }
  }
}
